<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>575835870382-vr6deo79p5tg0sqpnrtk9k3gbv8dfr9s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.575835870382-vr6deo79p5tg0sqpnrtk9k3gbv8dfr9s</string>
	<key>API_KEY</key>
	<string>AIzaSyA6C74_AsS_7XW6uSYLb9AKNuj1sKUIcMU</string>
	<key>GCM_SENDER_ID</key>
	<string>575835870382</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.foodie</string>
	<key>PROJECT_ID</key>
	<string>miya-foodie</string>
	<key>STORAGE_BUCKET</key>
	<string>miya-foodie.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:575835870382:ios:ed88698eb3476881f5093f</string>
</dict>
</plist>
